<a href="https://colab.research.google.com/github/eraliabd/DataScience/blob/main/%23pandas_intro_series_data_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Ma'lumotlar tahlili. Pandas kutubxonasi**

## 2.Pandas kutubxonasi bilan tanishuv

`pandas` kutubxonasi ma'lumotlar muhandisining eng muhim ish quroli hisoblanadi. Data Science loyihalar ustida ishlar ekanmiz, 90% amallar aynan `pandas` yordamida amalga oshiriladi. `pandas` o'zining maxsus ma'lumotlar tuzilmalariga ega va bu tuzilmalar ma'lumotlarga ishlov berish, tozalash va boshqa amllarni bir necha barobar osonlashtiradi.

Avvalgi bo'limda ko'rilgan `numpy` kutubxonasidan farqli ravishda, `pandas` kutubxonasi faqatgina sonlardan iborat massivlar bilan emas, balki turli ko'rinishdagi ma'lumotlardan iborat jadvallar bilan ishlashga moslashgan.

### Kutubxonani chaqiramiz

Oson bo'lishi uchun pandas kutubxonasini pd deb chaqirib olish urf bo'lgan.

In [50]:
import pandas as pd
import numpy as np

###`pandas` tarkibidagi ma'lumotlar tuzilmalari

`pandas` ikkita juda muhim va deyalri barcha loyihalar uchun mos tushuvchi Series va DataFrame ma'lumotlar tuzilamalariga ega. Keling ular bilan yaqindan tanishamiz.

Boshlanishiga bu ikki tuzilmalarni ham dasturimizga chaqirib olaylik.

In [52]:
from pandas import Series, DataFrame as df  # series malumotlar tuzilmasi, # DataFrameni qisqacha qilib df deb chariqib oldik

# 2.2.1 Series

`Series` bir o'lchovli massivga o'xshash ma'lumotlar tuzilmasi bo'lib qiymatlar va ularga mos keluvchi indekslardan iborat bo'ladi.

Eng sodda ko'rinishda `Series` ma'lumotlar massividan iborat bo'ladi.

In [53]:
obj = Series([4, 5, 6, -5])
obj

0    4
1    5
2    6
3   -5
dtype: int64

In [5]:
type(obj)

pandas.core.series.Series

In [6]:
print(obj)

0    4
1    5
2    6
3   -5
dtype: int64

Konsolga chop etganda ,`Series` yuqoridagi kabi indekslar (chap ustun) va qiymatlar (o'ng ustun) ko'rinishida chiqadi.
`Series` obyektini yaratsihda indekslarni bermaganimiz sababli indekslar 0 dan N-1 gacha qiymatlarni oladi (N ma'lumotlar uzunligi).

`Series` obyekti index va qiymatlarini alohida ajratib ko'rishimiz ham mumkin.

In [55]:
obj.values # qiymatlar

array([ 4,  5,  6, -5])

In [54]:
obj.index  # indekslar

RangeIndex(start=0, stop=4, step=1)

Qiymatlarga `indeks` orqali murojaat qilish mumkin.

In [56]:
obj[0] # birinchi element

4

`Series` obyektini yaratishda indekslarga o'zimiz ham nom berishimiz mumkin

In [10]:
obj2 = Series([5, 7, 2, 9], index=['a', 'b', 'c', 'd'])

In [11]:
obj2

a    5
b    7
c    2
d    9
dtype: int64

Obyekt ichidagi qiymatlarga esa yana `indeks` orqali murojaat qilamiz:

In [12]:
obj2['a']

5

Yangi qiymat qo'shish:

In [57]:
obj2['e'] = 4.5

In [62]:
obj2[['d', 'c']]  # Birdaniga bir nechta qiymatlarni olish:

d    9.0
c    2.0
dtype: float64

`Series` obyekti ustida arifmetik amallar bajarishda `indekslar` saqlanib qoladi

In [63]:
obj2[obj2 > 5]

b    7.0
d    9.0
dtype: float64

In [64]:
obj2[obj2 < 6]

a    5.0
c    2.0
e    4.5
dtype: float64

In [65]:
obj2*2

a    10.0
b    14.0
c     4.0
d    18.0
e     9.0
dtype: float64

In [61]:
np.exp(obj2)

a     148.413159
b    1096.633158
c       7.389056
d    8103.083928
e      90.017131
dtype: float64

## **Dict dan foydalanib ham Series yaratish mumkin**

`Series` obyektini Pythondagi lug'at (dictionary) ma'lumot turiga ham o'xshatish mumkin. Yodingizda bo'lsa lug'at elementlari ham 2 qismdan, kalit va qiymatdan iborat edi.

O'rni kelganda bu turdagi obyektlardan lug'atdan foydalangandek ham foydalanish mumkin:

Lug'atdan `Series` obyektini yaratish ham juda oson:

In [21]:
cars_dict = {'Malibu': 40000, 'Lacetti': 20000, 'Toyota': 45000, 'Mazda': 52000, 'Honda': 38000}

In [23]:
type(cars_dict)

dict

In [66]:
cars1 = Series(cars_dict)  # lug'atdan Sereis yaratamiz
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [27]:
type(cars1)

pandas.core.series.Series

In [28]:
cars2 = Series({'Malibu': 40000, 'Lacetti': 20000, 'Toyota': 45000, 'Mazda': 52000, 'Honda': 38000})
cars2

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [29]:
'Malibu' in cars2

True

In [30]:
'BMW' in cars2

False

In [31]:
cars2['Toyota']

45000

Lug'atdan `Series` yaratishda yangi elementlar indeksi lug'atda berilgan ketma-ketlikda bo'ladi. Bu ketma-ketlikni biz avvaldan ro'yxat ko'rinishida ham berishimiz mumkin.

In [36]:
models = ['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW', 'Mercedes']
models

['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW', 'Mercedes']

Ahamiyat bering, `viloyatlar` ro'yxatida qo'shimcha `Buxoro` elemtni ham bor, `Series` elementi yaratilganda ro'yxtada mavjud bo'lmagan qiymatlar o'rniga `NaN` (Not a number, son emas) qiymati qo'yib ketiladi.

In [37]:
cars_dict

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [38]:
cars3 = Series(cars_dict, index=models)
cars3

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64

## **Series metodlari**

Keyinchalik, ma'lumotlar bilan ishlaganda `NaN` qiymatlarni ajratish muhim ahamiyatga ega. Buning uchun `Series` obyekti bir maxsus metodlarga ega:

In [39]:
cars3

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64

`isnull` metodi

In [67]:
cars3.isnull() # qiymat null (mavjud emasligini) tekshirish uchun

Modellar
Honda       False
Mazda       False
Lacetti     False
Jaguar       True
Malibu      False
Toyota      False
BMW          True
Mercedes     True
Name: Avtosalon, dtype: bool

`notnull` metodi

In [68]:
cars3.notnull()  # qiymat null emasligini (mavjudligini) tekshirish uchun

Modellar
Honda        True
Mazda        True
Lacetti      True
Jaguar      False
Malibu       True
Toyota       True
BMW         False
Mercedes    False
Name: Avtosalon, dtype: bool

In [44]:
cars2

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [45]:
cars3

Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
dtype: float64

`Series` obyektining muhim jihatlaridan biri, ikkita `series` obyektini qo'shishda (ayirishda) qiymatlar indeks bo'yicha qo'shiladi.

In [46]:
cars2+cars3

BMW              NaN
Honda        76000.0
Jaguar           NaN
Lacetti      40000.0
Malibu       80000.0
Mazda       104000.0
Mercedes         NaN
Toyota       90000.0
dtype: float64

In [69]:
# 'Honda','Mazda','Lacetti','Jaguar','Malibu','Toyota'
new_prices = Series({"Honda":5000, "Mazda":-3000, "Malibu":4500, "Toyota":5200, 'Lacetti':-1200})

In [70]:
new_prices

Honda      5000
Mazda     -3000
Malibu     4500
Toyota     5200
Lacetti   -1200
dtype: int64

In [71]:
cars3+new_prices

BMW             NaN
Honda       43000.0
Jaguar          NaN
Lacetti     18800.0
Malibu      44500.0
Mazda       49000.0
Mercedes        NaN
Toyota      50200.0
dtype: float64

`Series` obyektining o'zini ham indekslarini ham nomlash mumkin:

In [47]:
cars3.name = 'Avtosalon'

In [48]:
cars3.index.name = 'Modellar'

In [49]:
cars3

Modellar
Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
Name: Avtosalon, dtype: float64

## `Series` obyektiga oid ba'zi parametrlar va metodlar

In [78]:
cars3

Modellar
Honda       38000.0
Mazda       52000.0
Lacetti     20000.0
Jaguar          NaN
Malibu      40000.0
Toyota      45000.0
BMW             NaN
Mercedes        NaN
Name: Avtosalon, dtype: float64

In [72]:
cars3.index # indekslar

Index(['Honda', 'Mazda', 'Lacetti', 'Jaguar', 'Malibu', 'Toyota', 'BMW',
       'Mercedes'],
      dtype='object', name='Modellar')

In [73]:
cars3.values # qiymatlar

array([38000., 52000., 20000.,    nan, 40000., 45000.,    nan,    nan])

In [74]:
cars3.hasnans # NaN qiymatlar bor (True) yo'qligi (False)

True

In [75]:
cars3.dtype # qiymatlarning ma'lumot turi

dtype('float64')

In [76]:
cars3.is_unique # qiymatlar takrorlanmas ekanini tekshirish

False

In [77]:
cars3.shape # Series hajmi

(8,)

In [79]:
cars3.size # Series hajmi

8

In [81]:
cars3.iloc[4] # ma'lumotlarga indeks tartib raqami bo'yicha murojaat qilish

40000.0

In [82]:
cars3.iloc[-1]

nan

In [84]:
cars3['Honda']  # # ma'lumotlarga indeks bo'yicha murojaat qilish

38000.0

In [85]:
cars3.loc['Toyota'] # ma'lumotlarga indeks bo'yicha murojaat qilish

45000.0

In [86]:
cars3.max() # max qiymat

52000.0

In [87]:
cars3.min() # min qiymat

20000.0

In [88]:
cars3.mean() # o'rtacha qiymat

39000.0